.oops__title h3{
    font-size: 210px;
    font-weight: 800;
    color: #051036;
}
.oops__title h3 p{
    font-size: 210px;
    font-weight: 800;
    color: #3554d1;
}
.error__main span{
    font-size: 32px;
    font-weight: 600;
    color: #051036;
    padding: 40px 0px;
}
.error__main button{
    height: 60px;
}
.oops__title{
    text-align: left;
}
.oops__title p{
   font-size: 18px;
} 
.error__main{
    padding: 60px 0px;
}