@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.header-main {
    z-index: 1052;

    .navbar {
        background-color: transparent;
        height: 5em;
        z-index: 1052;

        > .container {
            justify-content: start;
        }

        .navbar-brand, .navbar-toggler {
            background-color: var(--bs-body-bg);
            box-shadow: 0 0.5em 1em #0004;
            width: 3.5em;
            height: 3.5em;
            border-radius: 50%;
            position: relative;
            
            > * {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-48%, -50%);
                height: 2.5em;
            }
        }
        .navbar-toggler {
            width: 4.5em;
            height: 4.5em;
        }

        .navbar-nav {
            height: 3.5em;
            background-color: var(--bs-body-bg);
            box-shadow: 0 0.5em 1em #0004;
            border-radius: 99999vw;
            padding-inline: 1em;
            flex-direction: row;
            width: auto;
        }

        .navbar-nav > :is(.navbar-main, *) {
            font-size: 1em;
            height: 3.5em;
            line-height: 3.5em;
            padding: 0 1em;
        }
        .navbar-collapse {
            justify-content: space-between;
        }

        .sign-up-button {
            background: var(--bs-primary);
            color: var(--bs-light);
            border-radius: 0 99999vw 99999vw 0;
            padding-inline: 1.5em 1.75em !important;
            margin-inline: 0.5em -1em;
        }
    }

    // Button styling
    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 25px;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }

    button+button {
        margin-left: 10px;
    }

}

#nav-bg {
    position: absolute;
    inset: 0 0 auto 0;
    opacity: 0;
    z-index: 1051;
    background: linear-gradient(#051036ee, #05103677);
    pointer-events: none;
    transition: opacity .4s;
    height: 100vh;

    &.active {
        opacity: 1;
    }
}

.header-section {
    position: absolute;
    top: 0%;
    inset: -1em 0 auto 0;
    max-height: calc(100vh + 1em);
    overflow-y: auto;
    padding-block: 8em 1em;
    opacity: 0;
    background: linear-gradient(#051036ee, #05103600);
    color: var(--bs-light);
    z-index: 1051;
    transition: opacity .2s, transform .2s;
    transform: translateY(1em);
    pointer-events: none;
    
    ::before {
        z-index: -1;
    }

    &.active {
        opacity: 1;
        transform: none;
        pointer-events: unset;
    }
}

@include media-breakpoint-down(lg) {
    .header-main {
        #navbar-nav-main {
            position: fixed;
            inset: auto auto -6em 50%;
            transform: translateX(-50%);
            transition: bottom .4s;
        }
        #navbar-nav-main > * {
            flex-grow: 1;
            text-align: center;
        }
        &.mobile-active #navbar-nav-main {
            bottom: 1em;
        }
    }

    .header-section {
        padding-bottom: 15em;
    }
}