.header-main {
    z-index: 1052;

    .navbar {
        background-color: transparent;
        height: 5em;
        z-index: 1052;

        .navbar-brand {
            background-color: var(--bs-body-bg);
            box-shadow: 0 0.5em 1em #0004;
            width: 3.5em;
            height: 3.5em;
            border-radius: 50%;
            position: relative;
            
            .logo {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-48%, -50%);
                height: 2.5em;
            }
        }

        .navbar-nav {
            height: 3.5em;
            background-color: var(--bs-body-bg);
            box-shadow: 0 0.5em 1em #0004;
            border-radius: 99999vw;
            padding-inline: 1em;
        }

        .navbar-nav > :is(.navbar-main, *) {
            font-size: 1em;
            height: 3.5em;
            line-height: 3.5em;
            padding: 0 1em;
        }

        .navbar-toggler {
            border: none;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
        }

        .navbar-collapse {
            justify-content: space-between;
        }

        .sign-up-button {
            background: var(--bs-primary);
            color: var(--bs-light);
            border-radius: 0 99999vw 99999vw 0;
            padding-inline: 1.5em 1.75em !important;
            margin-inline: 0.5em -1em;
        }
    }

    // Button styling
    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 25px;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }

    button+button {
        margin-left: 10px;
    }

}

#nav-bg {
    position: absolute;
    inset: 0 0 auto 0;
    height: 60em;
    opacity: 0;
    z-index: 1051;
    background: linear-gradient(#051036ee, #051036cc, #05103699, #05103655, #05103633, #05103611, #05103600);
    pointer-events: none;
    transition: opacity .4s;

    &.active {
        opacity: 1;
    }
}

.header-section {
    position: absolute;
    top: 0%;
    inset: 0 0 auto 0;
    padding-block: 7em 1em;
    opacity: 0;
    color: var(--bs-light);
    z-index: 1051;
    transition: opacity .2s, transform .2s;
    transform: translateY(1em);
    pointer-events: none;
    
    ::before {
        z-index: -1;
    }

    &.active {
        opacity: 1;
        transform: none;
        pointer-events: unset;
    }
}