.flight-plane {
    height: 1px;
    background-color: rgb(60, 27, 188);
  }
  .flight__items h1{
    font-size: 16px;
  }
  .flight__items button{
    background-color: rgb(77, 77, 212);
    border: none;
    height: 50px;
  }