body {
    --bs-body-font-family: 'Outfit', sans-serif;
    --bs-font-sans-serif: 'Outfit', sans-serif;
}

.d-flex-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.flex-equal {
    flex: 0 1 100%;
}

.square {
    aspect-ratio: 1;
}

.-receipt-paid {
    opacity: 0.5;
    text-decoration: line-through;
}